:root{
    --red:hsl(0, 78%, 62%);
    --cyan:hsl(180, 62%, 55%);
    --orange:hsl(34, 97%, 64%);
    --blue:hsl(212, 86%, 64%);
    --Grey500:hsl(234, 12%, 34%);
    --Grey400:hsl(212, 6%, 44%);
    --white:hsl(0, 0%, 100%);
}

body{
    font-family: 'Poppins', sans-serif;
}

.p1{
    font-size: 40px;
    font-weight: 400;
    color: var(--Grey400);
    margin: 0;
}

.p2{
    font-size: 40px;
    font-weight: 700;
    color: var(--Grey500);
    margin: 0;
}

.p3{
    width: 47%;
    font-size: 20px;
    font-weight: 400;
    color: var(--Grey400);
    margin: 0;
}

.containerTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.containerTarjetas{
    height: Auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-self: center;
}



.dos, .tres{
    grid-column: 2;
    
}

.uno, .dos, .tres, .cuatro{
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.uno, .cuatro{
    grid-row: 1/3;
    align-self: center;
}

.uno{
    border-top: 4px solid var(--cyan);
}

.dos{
    border-top: 4px solid var(--red);
}
.tres{
    border-top: 4px solid var(--orange);
}
.cuatro{
    grid-column: 3;
    border-top: 4px solid var(--blue);
}


.iconoSupervisor, .iconoTeamBuilder, .iconoKarma, .iconoCalculator{
    height: 50px;
    width: 50px;
    align-self: end;
}
.uno > h2,
.dos > h2,
.tres > h2,
.cuatro > h2{
    margin: 0;
}